* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

body { 
    margin: 0;
}

.header { 
    padding: 30px;
    display: flex;
    justify-content: center;
    font-size: 23px;
}

.button-container { 
    display: grid;
    justify-content: center;
    gap: 50px;
    padding: 40px;
    padding-top: 20px;
}

.button { 
    padding: 25px;
    border-radius: 5px;
    border: 1px solid darkgray;
    background-color: lightgrey;
}

.button:hover { 
    background-color: black;
    color: white;
}

.winner-text-container { 
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 10px;
}